# Introduction to Pandas Data Structures

In [ ]:
to get started with pandas, you will need to get comfortable with its two workhorse: Series and 
Data Frame while they are not universal solutions. For every problem.They provide a solid easy
Use basic for most applications.

# Pandas Series Object

1.   A Series is the primary building block of pandas.

2. Series represents a one-dimensional labeled indexed array based on the Numpy ndarray. Like 
   array, A series can hold zero or more values of any single data types.

# Creating Series

In [ ]:
A Series can be created & initialized by passing either Scalar Value, a Numpy ndarray, a python
list, or a python dictionary as the data parameter of the Series Constructor. This is the defualt
parameter & does not need to be specified if it is the first item

In [ ]:
Numpy is a numerical & colucalation liberary.
Pandas ek hidetroginious liberary h. jis m hum int, float, boolean her qisam ka data deal krty
hain

In [ ]:
Two types of data Structure of Pandas 
1  Series     = one dimensionl data
2  Data Frame

In [ ]:
hum pandas mai data ki analysis kr skty hain. hum AGR Math jantay hain to hum pandas k through 
dashboard bana skty hain

In [ ]:
Series = one dimensional, labeled indexed array (apni marzi ki index banana)
ek datatype main ek se ziada dtype ki value ho skta h.

In [ ]:
hum series bana skty hain from Scalar value, numpy array and python list & dictionary.

In [2]:
import numpy as np
import pandas as pd

In [3]:
# create one item series 
s1 = pd. Series (2)      # scalar value or number(index = 0, value = 2)
s1

0    2
dtype: int64

In [4]:
# Create a Series of multiple
# item from a list
s2 = pd.Series([1,2,3,4,5]) # (dtype by defualt int64)
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# get the valus in the series 
s2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [6]:
# get the index of the Series 
s2.index

RangeIndex(start=0, stop=5, step=1)

In [49]:
# Explicitly create an index
#vindex is alpha, notg integer 
s3 = pd.Series([1,2,3], index = ['a', 'b', 'c']) #  this is a label index (by defual positional 
                                                   # index b h  )
s3

a    1
b    2
c    3
dtype: int64

In [50]:
#Example
# lookup by label value, not integer position
print(f"vlaue by label 's3['c']' is {s3['c']} and vlaue by index 's3[2]'is {s3[2]}")
# access both by label and index

vlaue by label 's3['c']' is 3 and vlaue by index 's3[2]'is 3

In [13]:
# create Series from an existing index
# scalar value with be copied at each index label
# Index number & Series object are equale 
s4 = pd.Series(["A","B","C","D","E"], index=s2.index)
s4

0    A
1    B
2    C
3    D
4    E
dtype: object

In [14]:
 #create Series from dictionary
 # dict key humari index ban gai hai 
s4 = pd.Series({'a': 1,
                'b': 2,
                'c': 3, 
                'd': 4})
s4

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
s5 = pd.Series(np.array([22,33,44,55,66]))
s5

0    22
1    33
2    44
3    55
4    66
dtype: int32

# Size, shape, uniqueness, and counts of values

In [16]:
# example series, which also contains a NaN
s = pd.Series([0, 1, 1, 2, 3, 4, 4, 5, 6, 7,np.nan]) 
s
# numpy nan property is used here to create an NaN  (Not anumber yani empty number)

0     0.0
1     1.0
2     1.0
3     2.0
4     3.0
5     4.0
6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [17]:
print(len(s))   # legth 
print(s.size)   # element of value
print(s.shape)  # 
print(s.count()) # count return not null values (null number & empty value ko count ni kre ga )
print(s.unique())  # avoid to duplication 
print(s.value_counts())  # kon c value kitni bar ai h # ek month m kitni bar login howa h  kisi 
                         # b user ko data m search krny k liye

11
11
(11,)
10
[ 0.  1.  2.  3.  4.  5.  6.  7. nan]
4.0    2
1.0    2
7.0    1
6.0    1
5.0    1
3.0    1
2.0    1
0.0    1
dtype: int64

# Peeking at data with heads, tails, and take

In [18]:
# first five rows  (By Defualt)   
s.head()

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
dtype: float64

In [19]:
# first three
s.head(n = 3) # s.head(3) is equivalent

0    0.0
1    1.0
2    1.0
dtype: float64

In [20]:
# last five
s.tail()

6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [21]:
s.tail()

6     4.0
7     5.0
8     6.0
9     7.0
10    NaN
dtype: float64

In [22]:
# last 3
s.tail(n = 3) # equivalent to s.tail(3)

8     6.0
9     7.0
10    NaN
dtype: float64

In [23]:

#The .take() method will return the rows in a series that correspond to the zero-based positions:

# only take specific items

s.take([9, 3, 9])    # ye row utha kr lata h

9    7.0
3    2.0
9    7.0
dtype: float64

# Looking up values in Series¶

In [24]:

# single item lookup

print(s3)
s3['a']   # label index

a    1
b    2
c    3
dtype: int64

1

In [25]:
#Accessing this Series using an integer value will perform a zero-based position lookup of the 
#value:

# lookup by position since the index is not an integer
s3[1]

2

In [26]:
# multiple items  (hum is ko fancy indexing b keh skty hain )
s3[['c', 'a']]

c    3
a    1
dtype: int64

In [30]:
# series with an integer index, but not starting with 0
s5 = pd.Series([1, 2, 3], index=[2, 3, 4])  # label indexing 
s5

2    1
3    2
4    3
dtype: int64

# label-based lookup versus position-based lookup¶

In [31]:

s5[2] 

# 2 is considered as label based look up
 # coz label also has 2 int
# agr label indexing b integer ho gi to position indexing ki bajay label indexing hi show 
# ho gi

1

In [32]:
s5[0]   # now see in this case we have integer label lookup,position lookup is not working
        # agr label indexing m hum integer value daiy gai to pandas positional index number bhol 
         # jay ga agr label index string ho ga to esa ni ho ga

KeyError: 0

In [33]:
s5.loc[2]  # loc also works on label based look up (loc = lication)

1

In [34]:
s5.iloc[0]  #iLoc forcefully works on position based look up even you dont specify position based 
            #index

1

In [35]:
s5.iloc[2]   # 2 = position indexing, iloc = integer loction based position

3

In [36]:
# multiple items by label (loc)
s5.loc[[4, 3]]  # label based

4    3
3    2
dtype: int64

In [86]:
s5[[0,2]]  # error aye ga

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [37]:
s5[[2,2,3,2,4,4]]  # jis value ko jitni bar likhy gye utni bar show ho gi

2    1
2    1
3    2
2    1
4    3
4    3
dtype: int64

In [38]:
s5.iloc[[0,2]]

2    1
4    3
dtype: int64

In [39]:
s5.iloc[[0,2,3]]  # integr location will throw exception

IndexError: positional indexers are out-of-bounds

# Alignment via index labels¶

In [ ]:
A fundamental difference between a NumPy ndarray and a pandas Series is the
ability of a Series to automatically align data from another Series based on 
label values before performing an operation

In [40]:
s6 = pd.Series([1,2,3,4], index = ['a','b','c', 'd'])
s6

a    1
b    2
c    3
d    4
dtype: int64

In [41]:
s7 = pd.Series([4,3,2,1], index = ['d','c','b','a'])
s7

d    4
c    3
b    2
a    1
dtype: int64

In [42]:
# add them
s6 + s7    #it first alligns the data as per label then performs operation
           # is case m apny apny label index ko search kr k add ho jain gaye

a    2
b    4
c    6
d    8
dtype: int64

# Nan + number = NaN
(NaN added to a number results in NaN)


number + NaN = NaN
(Number added to a Nan results in NaN)

In [43]:
s8 = pd.Series({'a': 1, 'b': 2, 'c' : 3, 'd' : 5 })
s8

a    1
b    2
c    3
d    5
dtype: int64

In [44]:
s9 = pd.Series({'b' : 6, 'c' : 7, 'd' : 9, 'e' : 10})
s9

b     6
c     7
d     9
e    10
dtype: int64

In [45]:
# NaN's result for a and e
# demonstrates alignment
s8 + s9

a     NaN
b     8.0
c    10.0
d    14.0
e     NaN
dtype: float64

In [46]:
s10 = pd.Series([1.0, 2.0, 3.0], index = ['a', 'a', 'b'])
s10

a    1.0
a    2.0
b    3.0
dtype: float64

In [47]:
s11 = pd.Series([4.0, 5.0, 6.0], index=['a', 'a', 'c'])
s11

a    4.0
a    5.0
c    6.0
dtype: float64

In [ ]:
When the two Series objects are added (or any other operation performed), 
the resulting Series has four 'a' index labels

In [48]:
s10 + s11

a    5.0
a    6.0
a    6.0
a    7.0
b    NaN
c    NaN
dtype: float64

# The special case of Not-A-Number (NaN)

In [3]:
# mean of numpy array values
nda = np.array([1, 2, 3, 4, 5])
nda.mean()

3.0

In [4]:
# mean of numpy array values with a NaN
nda = np.array([1, 2, 3, 4, np.NaN])
nda.mean()

nan

In [5]:
# ignores NaN values
s = pd.Series(nda)   # pandas mai (NaN value) ko count ni kia jata yo result 2.5 aya pandas all
                     # NaN numbers ko drop kr dita hay  
s.mean()

2.5

In [6]:
# handle NaN values like NumPy
s.mean(skipna=False)     # mean() is round breakit m tab press kre
                         # ye krne se True ko skip krdia

nan

In [7]:
s.mean(skipna=True)   # ye krny se False ko skip kia

2.5

# Boolean Selection

In [7]:
# which rows have values that are > 5?
s = pd.Series(np.arange(0, 10))

s > 5    # hum is result ko (Pandas Series keh Skty hain )

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
9     True
dtype: bool

In [8]:
# select rows where values are > 5
logicalResults = s > 5
s[logicalResults]

6    6
7    7
8    8
9    9
dtype: int32

In [9]:
logical_Results = s > 5
s[logical_Results]

6    6
7    7
8    8
9    9
dtype: int32

In [10]:
# a little shorter version (hum yo b likh skty hain )
s[s > 5]

6    6
7    7
8    8
9    9
dtype: int32

In [11]:
# commented as it throws an exception
# s[s > 5 and s < 8]  # 5 se big value & 8 se small value kia hai

# correct syntax
s[(s > 5) & (s < 8)]

6    6
7    7
dtype: int32

In [12]:
s[(s > 5) & (s < 8)]

6    6
7    7
dtype: int32

In [13]:
pd.Series([True, False, False, True, True]).all(),pd.Series([True, False, False, True, True]).any()

(False, True)

In [15]:
 # .any() , .all()    search krty hain true ko

In [16]:
pd.Series([True, False, False, True, True]).all()

False

In [17]:
pd.Series([True, False, False, True, True]).any()

True

In [18]:
(np.array([True, False, True, True])).sum() # 1 Show krta h True ko aur Zero Show krta False ko
                                             # is trha result 3 aya h

3

In [19]:
# are all items >= 0?
(s >= 0).all()

True

In [20]:
s < 2

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [21]:
# any items < 2?
(s[s < 2].any())

True

In [22]:
import numpy as np
import pandas as pd

In [23]:
# how many values < 2?
(s < 2).sum()

2

In [24]:
not(s[s < 2]).sum()

False

In [25]:
# how many values < 2?
(s < 2).count()  # sub value ko gin kr batay ga panda

10

In [26]:

s[(s < 2)].count()       # ab wo series samny aye gi jo True and False ki hai

2

# Reindexing a Series¶

In [ ]:
Reindexing in pandas is a process that makes the data in a Series or DataFrame match a 
given set of labels. This is core to the functionality of pandas as it enables label alignment 
across multiple objects, which may originally have different indexing schemes. This process of 
performing a reindex includes the following steps:

1. Reordering existing data to match a set of labels.
2. Inserting NaN markers where no data exists for a label.
3. Possibly, filling missing data for a label using some type of logic 
   (defaulting to adding NaN values).

# Reindexing = index change krna hai

In [29]:
# sample series of five items
s = pd.Series(np.random.randn(5))
s

0    0.618326
1   -0.955985
2   -1.250008
3   -0.008549
4   -2.971213
dtype: float64

In [31]:
# change the index
s.index = ['a', 'b', 'c', 'd', 'e']  #is trha index ko change kia jaskta hai
s

a    0.618326
b   -0.955985
c   -1.250008
d   -0.008549
e   -2.971213
dtype: float64

In [ ]:
let's examine a slightly more practical example. The following code concatenates two 
Series objects resulting in duplicate index labels, which may not be desired in the resulting 
Series:

In [44]:
# concatenate copies index values verbatim (as it is),
# potentially making duplicates since we have some or all label index same

np.random.seed(123456)

s1 = pd.Series(np.random.randn(3))

s2 = pd.Series(np.random.randn(3))

combined = pd.concat([s1, s2])
combined

0    0.469112
1   -0.282863
2   -1.509059
0   -1.135632
1    1.212112
2   -0.173215
dtype: float64

In [45]:
# reset the index so that duplication of index may be removed
combined.index =np.arange(0, len(combined))   # humne sirf index ko change kia data ko ni
combined

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
5   -0.173215
dtype: float64

In [52]:
np.random.seed(8)    # hum seed() main koi sa b number dal skty hain

s3 = pd.Series(np.random.randn(4))

s4 = pd.Series(np.random.randn(4))

comb = pd. concat([s3,s4])
comb

0    0.091205
1    1.091283
2   -1.946970
3   -1.386350
0   -2.296492
1    2.409834
2    1.727836
3    2.204556
dtype: float64

In [53]:
# agr index mai doubling ho jai to yani do data merge ho jai to comb waly result ko reset kre

comb.index = np.arange(0, len(comb))
comb

0    0.091205
1    1.091283
2   -1.946970
3   -1.386350
4   -2.296492
5    2.409834
6    1.727836
7    2.204556
dtype: float64

In [55]:
# Reindexing using the .index property in-place modifies the Series.
comb.index = [11,22,33,44,55,66,77,88]  
comb

11    0.091205
22    1.091283
33   -1.946970
44   -1.386350
55   -2.296492
66    2.409834
77    1.727836
88    2.204556
dtype: float64

In [ ]:
# is se original index (comb) change ho gia h ab old not returnable  ya hum back ja k return kr 
# skty hain
# Reindexing using the .index property in-place modifies the Series.
# is case mai index ki property change ho jati h

# Reindex() Method

In [ ]:
# Greater flexibility in creating a new index is provided using the .reindex() method. 
# An example of the flexibility of .reindex() over assigning the .index property directly is 
# that the list provided to .reindex() can be of a different length than the number of rows in 
# the Series:

In [ ]:
# reindexing method ziada better h becouase ye inplace ni krta balky new series bana kr show 
# krwata hai is trha original series save rehti hai

In [ ]:
np.random.seed(123456)
s1 = pd.Series(np.random.randn(4), ['a', 'b', 'c', 'd'])
print(s1)
# reindex with different number of labels
# results in dropped rows and/or NaN's


s2 = s1.reindex(['a', 'c', 'g'])
s2

In [58]:
np.random.seed(6)
s1 = pd.Series(np.random.randn(4), ['a', 'b', 'c' ,'d'])
print(s1)

s2 = s1.reindex(['a', 'c', 'g'])
s2

a   -0.311784
b    0.729004
c    0.217821
d   -0.899092
dtype: float64

a   -0.311784
c    0.217821
g         NaN
dtype: float64

In [ ]:
Things to be noted:

1. reindex() donot re-index inplace, it will return a new series original will not be modified
2. if any index not matching the previous index will be assigned NaN
3. The index present in previous indexes, if not included in re-index 
    then the row will not be added in new series.

In [ ]:
in reindexing, create new series and original series donot modified

In [60]:
combined.reindex([9,5,3,4,0,1,2,6,11])  # not in place

9          NaN
5    -0.173215
3    -1.135632
4     1.212112
0     0.469112
1    -0.282863
2    -1.509059
6          NaN
11         NaN
dtype: float64

In [61]:
combined    # last indexing is still there

0    0.469112
1   -0.282863
2   -1.509059
3   -1.135632
4    1.212112
5   -0.173215
dtype: float64

In [ ]:
Reindexing is also useful when you want to align two Series to perform an operation on 
matching elements from each series; however, for some reason, the two Series had index labels 
that will not initially align. The following example demonstrates this, where the first Series
has indexes as sequential integers, but the second has a string representation of what would be 
the same values:

In [ ]:
reindexing mai copy ban rahi hoti h aur aur original mai change ni ho raha hota hai

In [63]:
# different types for the same values of labels
# causes big trouble
s1 = pd.Series([0, 1, 2], index=[0, 1, 2])  # index match ni ho rhi all missing ho gai sub ka 
                                             # result NaN aya 
s2 = pd.Series([3, 4, 5], index=['0', '1', '2'])
s1 + s2

0   NaN
1   NaN
2   NaN
0   NaN
1   NaN
2   NaN
dtype: float64

In [ ]:
you can easily guess what had happened here.


all values are NaN because the operation tries to add the item in the first series with the 
integer label 0, which has a value of 0, but can't find the item in the other series and 
therefore, the result is NaN (and this fails six times in this case).




Once this situation is identified:
it becomes a fairly trivial situation to fix by reindexing the second series:

In [65]:
# reindex by casting the label types and we will get the desired result

s2.index = s2.index.values.astype(int)
s1 + s2

0    3
1    5
2    7
dtype: int64

In [66]:
s2.index = s2.index.values.astype(int)
s1 + s2

0    3
1    5
2    7
dtype: int64

In [ ]:
Overriding the default action of inserting NaN as a missing value during reindexing can be 
changed by using the fill_value parameter of the method.

In [68]:
# fill with 0 instead of NaN
s2 = s.copy()
s2

a    0.618326
b   -0.955985
c   -1.250008
d   -0.008549
e   -2.971213
dtype: float64

In [ ]:
s2_reindexed = s2.reindex(['a', 'f'], fill_value=0) # ab NaN ki jaga fill 0 ho ga 
s2_reindexed

In [71]:
# hum is ko esy b kr skty hain 
# or
s2_reindexed = s2.reindex(['a', 'f'], fill_value= np.mean([1,2,3,4,5,6,7]))
s2_reindexed

a    0.618326
f    4.000000
dtype: float64

In [ ]:
agr value na ho yani empty value ho to magr hum ne count shamil krna ho to is k liye hum 0 add kr
skty hain 
pandas m NaN value drop ho rhi hoti h is se bachnay k liye hum 0 value le skty hain

# ffill, bfill, & nearest

In [ ]:
ffill = forward, bfill = backward

In [73]:
# create example to demonstrate fills
s3 = pd.Series(['red', 'green', 'blue' ], index=[0, 8, 10])
s3

0       red
8     green
10     blue
dtype: object

In [75]:
# forward fill example
s3.reindex(np.arange(0,15), method='ffill')

0       red
1       red
2       red
3       red
4       red
5       red
6       red
7       red
8     green
9     green
10     blue
11     blue
12     blue
13     blue
14     blue
dtype: object

In [77]:
# backwards fill example
s3.reindex(np.arange(0,15), method='bfill')

0       red
1     green
2     green
3     green
4     green
5     green
6     green
7     green
8     green
9      blue
10     blue
11      NaN
12      NaN
13      NaN
14      NaN
dtype: object

In [76]:
s3.reindex(np.arange(0,15), method='bfill')

0       red
1     green
2     green
3     green
4     green
5     green
6     green
7     green
8     green
9      blue
10     blue
11      NaN
12      NaN
13      NaN
14      NaN
dtype: object

In [79]:
#nearest: use nearest valid observations to fill gap
s3.reindex(np.arange(0,10), method='nearest')

0      red
1      red
2      red
3      red
4    green
5    green
6    green
7    green
8    green
9     blue
dtype: object

# Slicing a Series

In [81]:
# a Series to use for slicing
# using index labels not starting at 0 to demonstrate
# position based slicing

s = pd.Series(np.arange(100, 110), index=np.arange(10, 20))

# remember we pro 
s

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

In [84]:
print(s[0:6:2])  # [startofrow:endofrow:step]

# # equivalent to
s.iloc[[0, 2, 4]]

10    100
12    102
14    104
dtype: int32

10    100
12    102
14    104
dtype: int32

In [83]:
print(s[0:6:2])
s.iloc[[0,2,4]]

10    100
12    102
14    104
dtype: int32

10    100
12    102
14    104
dtype: int32

In [85]:
# first five by slicing, same as .head(5)
s[:5]

10    100
11    101
12    102
13    103
14    104
dtype: int32

In [86]:
s[0:]

10    100
11    101
12    102
13    103
14    104
15    105
16    106
17    107
18    108
19    109
dtype: int32

In [87]:
s[5:] # last five

15    105
16    106
17    107
18    108
19    109
dtype: int32

# Missing Data in Series¶

NaN values represent data is missing in the series

In [88]:
sdata = {'ohio': 35000, 'Texas' : 71000, 'Oregon' : 16000, 'Utah' : 5000}
obj3 = pd.Series(sdata)
obj3

ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [92]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [94]:
obj4 = pd.Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [96]:
pd.isnull(obj4)  # obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [98]:
pd.notnull(obj4)  #obj4.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [101]:
obj4.name = 'population'
obj4.index.name = "state"
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64