# Combing Array

In [ ]:
Array can be combined in various way. this processing in Numpy is reffered to stacking.
Stacking can take various forms including
Horizontal Stacking
Vertical Stackinghttp://localhost:8888/notebooks/Desktop/My%20Numpy/zoom%20class%202%20numpy%20Sir%20Nasir%20Dated19-12-2020.ipynb#
Depth Stacking

# Stacking

In [ ]:
join a Sequence of arrays along anew axis.

In [1]:
import numpy as np

In [3]:
a = np.arange(1,10).reshape(3,3)
b = np.arange(9,18).reshape(3,3)
print(a)
print(b)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[ 9 10 11]
 [12 13 14]
 [15 16 17]]

In [4]:
np.stack((a,b))

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]]])

In [ ]:
stacking ka matlb hai k aik array k uper ya nichy dosari array rkhna agr 2d array k oper dosari 2d array rkhy gai to  
wo 3d array ban jay gi yani 3 dimension array

In [ ]:
3d array mai first dimension = width, 2nd dimenssion = length, 3rd dimension = depth

In [ ]:
hum aik array k barabar aik our array rkh kr b stacking kr skty hn is case m 2d array rhe gi aur column increase hon gay

# Horizontal Stacking

In [ ]:
Combines two arrays in n munner where the columns of the second array are placed to right of the those in thes first array. 
the function actually stacks the two items proved in a two element tuple the result is a new array with data copied from 
the two that are specified

In [8]:
import numpy as np
arr = np.arange(16).reshape(8,2)
arr

array([[ 0,  1],
       [ 2,  3],
       [ 4,  5],
       [ 6,  7],
       [ 8,  9],
       [10, 11],
       [12, 13],
       [14, 15]])

In [14]:
arr1 = np.arange(16,56).reshape(8,5)
arr1

array([[16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35],
       [36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45],
       [46, 47, 48, 49, 50],
       [51, 52, 53, 54, 55]])

In [15]:
np.hstack((arr1,arr))    # horizontal m column increase hoty hn (Column) y axis = 1)

array([[16, 17, 18, 19, 20,  0,  1],
       [21, 22, 23, 24, 25,  2,  3],
       [26, 27, 28, 29, 30,  4,  5],
       [31, 32, 33, 34, 35,  6,  7],
       [36, 37, 38, 39, 40,  8,  9],
       [41, 42, 43, 44, 45, 10, 11],
       [46, 47, 48, 49, 50, 12, 13],
       [51, 52, 53, 54, 55, 14, 15]])

In [16]:
#or
np.hstack((arr,arr1)) # horizantal stacking == in horizontal stack number of column increase

array([[ 0,  1, 16, 17, 18, 19, 20],
       [ 2,  3, 21, 22, 23, 24, 25],
       [ 4,  5, 26, 27, 28, 29, 30],
       [ 6,  7, 31, 32, 33, 34, 35],
       [ 8,  9, 36, 37, 38, 39, 40],
       [10, 11, 41, 42, 43, 44, 45],
       [12, 13, 46, 47, 48, 49, 50],
       [14, 15, 51, 52, 53, 54, 55]])

In [19]:
# or
np.concatenate((arr,arr1),axis = 1)

array([[ 0,  1, 16, 17, 18, 19, 20],
       [ 2,  3, 21, 22, 23, 24, 25],
       [ 4,  5, 26, 27, 28, 29, 30],
       [ 6,  7, 31, 32, 33, 34, 35],
       [ 8,  9, 36, 37, 38, 39, 40],
       [10, 11, 41, 42, 43, 44, 45],
       [12, 13, 46, 47, 48, 49, 50],
       [14, 15, 51, 52, 53, 54, 55]])

In [20]:
# or 
np.concatenate((arr1,arr),axis =1)

array([[16, 17, 18, 19, 20,  0,  1],
       [21, 22, 23, 24, 25,  2,  3],
       [26, 27, 28, 29, 30,  4,  5],
       [31, 32, 33, 34, 35,  6,  7],
       [36, 37, 38, 39, 40,  8,  9],
       [41, 42, 43, 44, 45, 10, 11],
       [46, 47, 48, 49, 50, 12, 13],
       [51, 52, 53, 54, 55, 14, 15]])

# Vertical Stacking

In [ ]:
In vertical stack number of rows increase  (row) x axis = 0)

In [ ]:
vertical stacking returns a new array with the contents of 2nd array as appended rows of the 1st 
array.

In [21]:
arr2 = np.arange(20).reshape(2,10)
arr2

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]])

In [23]:
arr3 = np.arange(20,60).reshape(4,10)
arr3

array([[20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [24]:
np.vstack((arr3,arr2))  #  increase the rows

array([[20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]])

In [25]:
#or 
np.vstack((arr2,arr3))

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [26]:
#0r 
np.concatenate((arr2,arr3),axis = 0)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [27]:
np.concatenate((arr3,arr2),axis= 0)

array([[20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]])

In [ ]:
arr2 = np.arange(20).reshape(2,10)
arr2

In [ ]:
arr3 = np.arange(20,60).reshape(4,10)
arr3

In [28]:
arr4 = np .arange(70,100).reshape(3,10)
arr4

array([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [30]:
np.concatenate((arr2,arr3,arr4),axis = 0)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [ ]:
agr 3 arrays hon to hum (axis = 2) rakh skty han ye work depth wali arrays m hota h

In [34]:
arr5 = np.arange(10,50).reshape(4,10)
arr5

array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [35]:
arr6 = np.arange(20,60).reshape(4,10)
arr6

array([[20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [37]:
np.vstack((arr5,arr3,arr6))

array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

# colums stacking

In [ ]:
The numpy.column_stack() function stacks  the 1-D arrays as columns into a 2-D array. 
It takes a sequence of 1-D arrays and stacks them as columns to make a single 2-D array.
This parameter represents a sequence of 1-D or 2-D arrays where all of them must have the same 
first dimension.

In [104]:
import numpy as np
inp_arr1 = np.array(( 11, 12, 13 ))
print ("1st Input array: ", inp_arr1) 
inp_arr2 = np.array(( 14, 15, 16 ))
print ("2nd Input array: ", inp_arr2) 
# Stacking the two arrays 
out_arr = np.column_stack((inp_arr1, inp_arr2))
print ("Output array: ", out_arr)

1st Input array:  [11 12 13]
2nd Input array:  [14 15 16]
Output array:  [[11 14]
 [12 15]
 [13 16]]

In [21]:
import numpy as np
a = np.array((1,2,3))
b = np.array((2,3,4))
a,b

(array([1, 2, 3]), array([2, 3, 4]))

In [18]:
np.column_stack((a,b))         # columns stacking m row colum m convert ho jati hain 1d array 
                                 # 2d array 2d hi rahti h

array([[1, 2],
       [2, 3],
       [3, 4]])

In [23]:
arr5 = np.arange(10,50).reshape(4,10)
arr5

array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [63]:
np.column_concatenate((arr5,[0,3], asix = 1))

SyntaxError: invalid syntax (<ipython-input-63-079c53806fbe>, line 1)

In [41]:
arr4 = np.column_stack((arr5))     # colum stacking m rows convert into columns
arr4

array([[10, 20, 30, 40],
       [11, 21, 31, 41],
       [12, 22, 32, 42],
       [13, 23, 33, 43],
       [14, 24, 34, 44],
       [15, 25, 35, 45],
       [16, 26, 36, 46],
       [17, 27, 37, 47],
       [18, 28, 38, 48],
       [19, 29, 39, 49]])

In [26]:
arr5[1][3]

23

In [39]:
arr5[1:2,3:4]

array([[23]])

In [42]:
arr4

array([[10, 20, 30, 40],
       [11, 21, 31, 41],
       [12, 22, 32, 42],
       [13, 23, 33, 43],
       [14, 24, 34, 44],
       [15, 25, 35, 45],
       [16, 26, 36, 46],
       [17, 27, 37, 47],
       [18, 28, 38, 48],
       [19, 29, 39, 49]])

In [43]:
arr5

array([[10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49]])

In [47]:
arr4[4:-5,1:2]

array([[24]])

In [48]:
arr4[5:-5,1:2]

array([], shape=(0, 1), dtype=int32)

In [64]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([2, 3, 4])
np.stack((a, b))

array([[1, 2, 3],
       [2, 3, 4]])

In [66]:
np.stack((a, b), axis=-1)

array([[1, 2],
       [2, 3],
       [3, 4]])

In [79]:
arrays = np.arange(10).reshape(2,5)
arrays

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [80]:

np.stack(arrays, axis=0)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [82]:
np.stack(arrays, axis=1)

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [84]:
np.stack(arrays, axis= -1)

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

# Row wize Stacking

In [88]:
a = np.arange(10).reshape(2,5)
a

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [92]:
b =np.arange(10,20).reshape(2,5)
b

array([[10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [103]:
np.row_stack((a,b))   # row stacking m 2d array 2d hi rahti hain jb k 1d array 2d ban jati hain

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [95]:
np.stack((a,b))

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9]],

       [[10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]]])

In [96]:
np.vstack((a,b))

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [98]:
x = np.array([1, 2, 3, 4]) # row sgtacking m 1d arrays 2 d ban jati hain
y = np.array([5, 6, 7, 8])

In [99]:
x

array([1, 2, 3, 4])

In [100]:
y

array([5, 6, 7, 8])

In [102]:
np.row_stack((x,y))

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

# depth stacking

In [ ]:
numpy.dstack() in Python

The numpy.dstack() function stacks the arrays in sequence depth wise (along third axis).
tup: This parameter represents the sequence of arrays where the arrays must have the same 
    shape along all except the third axis.

In [111]:
import numpy as np
inp_array1 = np.array([[ 11, 12, 13], [ -11, -12, -13]] )
print ("Input array: ", inp_array1) 
inp_array2 = np.array([[ 14, 15, 16], [ -14, -15, -16]] )
print ("Input array: ", inp_array2) 
#stack arrays depth wise (along third axis)
out_array = np.dstack((inp_array1, inp_array2))
print ("Output array: ", out_array)

SyntaxError: invalid character in identifier (<ipython-input-111-f31548ae80ef>, line 3)

In [105]:
arr1 = np.arange(9,18).reshape(3,3)
arr1

array([[ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17]])

In [106]:
arr2 = np.arange(0,9).reshape(3,3)
arr2

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [107]:
np.dstack((arr1,arr2)).reshape(3,3,2)

array([[[ 9,  0],
        [10,  1],
        [11,  2]],

       [[12,  3],
        [13,  4],
        [14,  5]],

       [[15,  6],
        [16,  7],
        [17,  8]]])

In [108]:
np.dstack((arr2,arr1)).reshape(3,2,3)

array([[[ 0,  9,  1],
        [10,  2, 11]],

       [[ 3, 12,  4],
        [13,  5, 14]],

       [[ 6, 15,  7],
        [16,  8, 17]]])

In [109]:
np.dstack((arr1,arr2)).reshape(2,3,3)

array([[[ 9,  0, 10],
        [ 1, 11,  2],
        [12,  3, 13]],

       [[ 4, 14,  5],
        [15,  6, 16],
        [ 7, 17,  8]]])

In [2]:
import numpy as np
a = np.array([[1],[2],[3]])
b = np.array([[2],[3],[4]])

In [3]:
a

array([[1],
       [2],
       [3]])

In [5]:
b

array([[2],
       [3],
       [4]])

In [6]:
np.dstack((a,b))

array([[[1, 2]],

       [[2, 3]],

       [[3, 4]]])

In [8]:
ans = a,b
ans

(array([[1],
        [2],
        [3]]),
 array([[2],
        [3],
        [4]]))

In [18]:
np.ravel(ans)

array([1, 2, 3, 2, 3, 4])

In [19]:
a

array([[1],
       [2],
       [3]])

In [20]:
b

array([[2],
       [3],
       [4]])

In [30]:
a = np.array((1,2,3))
b = np.array((2,3,4))

array([[[1, 2],
        [2, 3],
        [3, 4]]])

In [31]:
a

array([1, 2, 3])

In [32]:
b

array([2, 3, 4])

In [34]:
np.dstack((a,b))

array([[[1, 2],
        [2, 3],
        [3, 4]]])

In [35]:
c = a,b
c

(array([1, 2, 3]), array([2, 3, 4]))

In [36]:
np.ravel(c)

array([1, 2, 3, 2, 3, 4])

In [37]:
c

(array([1, 2, 3]), array([2, 3, 4]))

In [53]:
x = np.array((13,15,17))
y = np.array((5,7,9))

In [54]:
x

array([13, 15, 17])

In [55]:
y

array([5, 7, 9])

In [61]:
np.dstack((x,y)).shape

(1, 3, 2)

In [63]:
np.dstack((x,y))

array([[[13,  5],
        [15,  7],
        [17,  9]]])

# splitting Array     Split mean break

array can also be split into multiple array along the 
horizontal split------ np.hsplit()
vertical split --------np.vsplit()
depth split -----------np.dsplit()
we will only look at the np.hsplit() function as the others work similarly

In [ ]:
Splitting is reverse operation of Joining.
Joining merges multiple arrays into one and Splitting breaks one array into multiple.
We use array_split() for splitting arrays, we pass it the array we want to split and 
the number of splits.

In [69]:
x = np. arange(0,9.)
print(x)
print("######")

[0. 1. 2. 3. 4. 5. 6. 7. 8.]
######

In [70]:
np.split(x,3)

[array([0., 1., 2.]), array([3., 4., 5.]), array([6., 7., 8.])]

In [75]:
a = np.arange(12).reshape(3,4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [76]:
np.hsplit(a,4)

[array([[0],
        [4],
        [8]]),
 array([[1],
        [5],
        [9]]),
 array([[ 2],
        [ 6],
        [10]]),
 array([[ 3],
        [ 7],
        [11]])]

In [78]:
np.hsplit(a,2)

[array([[0, 1],
        [4, 5],
        [8, 9]]),
 array([[ 2,  3],
        [ 6,  7],
        [10, 11]])]

In [79]:
np.hsplit(a,[1,3])

[array([[0],
        [4],
        [8]]),
 array([[ 1,  2],
        [ 5,  6],
        [ 9, 10]]),
 array([[ 3],
        [ 7],
        [11]])]

In [80]:
np.hsplit(a,[1,2])

[array([[0],
        [4],
        [8]]),
 array([[1],
        [5],
        [9]]),
 array([[ 2,  3],
        [ 6,  7],
        [10, 11]])]

In [83]:
np.hsplit(a,[0,1])

[array([], shape=(3, 0), dtype=int32),
 array([[0],
        [4],
        [8]]),
 array([[ 1,  2,  3],
        [ 5,  6,  7],
        [ 9, 10, 11]])]

In [84]:
arr = np.array([1, 2, 3, 4, 5, 6])
newarr = np.array_split(arr, 4)
print(newarr)

[array([1, 2]), array([3, 4]), array([5]), array([6])]

# Vertical split

In [85]:
a = np.arange(9).reshape(3, 3) 
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [90]:
np.vsplit(a,3)

[array([[0, 1, 2]]), array([[3, 4, 5]]), array([[6, 7, 8]])]

In [91]:
b = np.arange(27).reshape(3, 3, 3) 
b

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [92]:
np.dsplit(b,3)

[array([[[ 0],
         [ 3],
         [ 6]],

        [[ 9],
         [12],
         [15]],

        [[18],
         [21],
         [24]]]),
 array([[[ 1],
         [ 4],
         [ 7]],

        [[10],
         [13],
         [16]],

        [[19],
         [22],
         [25]]]),
 array([[[ 2],
         [ 5],
         [ 8]],

        [[11],
         [14],
         [17]],

        [[20],
         [23],
         [26]]])]

# Useful numerical methods of Numpy array

In [ ]:
demonstrate some of the properties of numpy arrays

In [103]:
m = np.arange(10,19).reshape(3,3)
print(m)
print("{0} min of the entire matrix".format(m.min()))
print("{0} max of the entire matrix".format(m.max()))
print("{0} position of the min value".format(m.argmin()))
print("{0} position of the max value". format(m.argmax()))
print("{0} mins down each column".format(m.min(axis = 0)))
print("{0} mins across each row".format(m.min(axis = 1)))
print("{0} max down each column".format(m.max(axis = 0)))

[[10 11 12]
 [13 14 15]
 [16 17 18]]
10 min of the entire matrix
18 max of the entire matrix
0 position of the min value
8 position of the max value
[10 11 12] mins down each column
[10 13 16] mins across each row
[16 17 18] max down each column

# Some Statiscal function

In [108]:
my_array = np.arange(36).reshape(6,6)
my_array

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

In [109]:
print("f mean of the array is {my_array.mean()},\n the standard devition is {my_array.std()},\n and the variation is {my_array.var()}")

f mean of the array is {my_array.mean()},
 the standard devition is {my_array.std()},
 and the variation is {my_array.var()}

In [110]:
my_array.mean()   # mean k liye

17.5

In [111]:
my_array.std()      # standard devition

10.388294694831615

In [112]:
my_array.var()  #variation k liye

107.91666666666667

In [113]:
my_array.sum()      #Sum leny k liye

630

In [114]:
my_array.prod()    #product k liye agr first element 0 h to full array ka output 0 hi aye ga

0

In [115]:
my_array.cumsum()  #  cumsum k liye

array([  0,   1,   3,   6,  10,  15,  21,  28,  36,  45,  55,  66,  78,
        91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325,
       351, 378, 406, 435, 465, 496, 528, 561, 595, 630], dtype=int32)

In [116]:
my_array.cumprod     #cumproduct k liye agr first element 0 h to full array ka output 0 hi aye ga

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

# Apply Logical Operator on array

In [ ]:
Logical operators k answer always true ya false me ata hay

In [117]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [118]:
a.any()    # returns true if any of the values less than 5

True

In [124]:
a.all()     #returns if and only if all the values are less than 5 agr all values 5 se chuti ni 
              #hain to answer false aye ga

False

In [125]:
(a<5).any()    # agr koi b value 5 se chuti ho gi to answer true ho ga

True

In [128]:
(a<5).all()  # agar all values 5 se chuti hain to answer true worna false aye ga

False

# Boolean Indxing

In [129]:
names = np.array(['Bob','Joe','Will','Bob','Will','Joe','Joe'])
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [130]:
data = np.array(np.random.randn(7,4)*10,dtype = np.int)
data

array([[ -2,   3,  11,   5],
       [  5,  14,   3,  10],
       [ -1,   0,   2,  -2],
       [-12,  -8,  10, -12],
       [ -4, -13,  -4,   0],
       [-10,  14,  -2,  -2],
       [  0,   9,   3, -12]])

# Fancy Indexing

In [ ]:
First Consider this, if we want to select (fancy selection) rows from array we can pass a list 
of row index. But a big but, if we want to select different rows based on some criteria like
her we want all rows corresponding to name "Bob"
we will do Booleen indexing.

In [131]:
data[[0,3,5]]     # is random selection ko hum fancy indexing kehty hain

array([[ -2,   3,  11,   5],
       [-12,  -8,  10, -12],
       [-10,  14,  -2,  -2]])

# Boolean Indexing

In [133]:
names == 'Bob'  #vectorize comparision will return true where name is 'Bob' in names array

array([ True, False, False,  True, False, False, False])

In [134]:
# Method 1

data[[True, False, False, True, False, False, False]] #is ko Expression kehty hain

array([[ -2,   3,  11,   5],
       [-12,  -8,  10, -12]])

In [135]:
# Method 2
data[names == 'Bob']

array([[ -2,   3,  11,   5],
       [-12,  -8,  10, -12]])

In [136]:
data[names != 'Bob']   # ye aik mask ban gia  yaha wo rows aa gai hain jo Bob ki ni hain

array([[  5,  14,   3,  10],
       [ -1,   0,   2,  -2],
       [ -4, -13,  -4,   0],
       [-10,  14,  -2,  -2],
       [  0,   9,   3, -12]])

In [150]:
mask = (names == 'Bob')|(names == 'Will') # condition or 
mask                                    # mask yaha varibal h

array([ True, False,  True,  True,  True, False, False])

In [151]:
data[mask]

array([[ -2,   3,  11,   5],
       [ -1,   0,   2,  -2],
       [-12,  -8,  10, -12],
       [ -4, -13,  -4,   0]])

In [149]:
mask = (names == 'Bob')&(names == 'Will') # condition and 
mask

array([False, False, False, False, False, False, False])

In [148]:
data[mask]

array([], shape=(0, 4), dtype=int32)

In [153]:
data[data <0] = 0  # jo value 0 se chuti hain un ko 0 se replace kr do 
data

array([[ 0,  3, 11,  5],
       [ 5, 14,  3, 10],
       [ 0,  0,  2,  0],
       [ 0,  0, 10,  0],
       [ 0,  0,  0,  0],
       [ 0, 14,  0,  0],
       [ 0,  9,  3,  0]])

# Fancy Indexing

In [154]:
data[[2,2]]

array([[0, 0, 2, 0],
       [0, 0, 2, 0]])

In [155]:
data[:,[0,3]] #column m fancy indexing

array([[ 0,  5],
       [ 5, 10],
       [ 0,  0],
       [ 0,  0],
       [ 0,  0],
       [ 0,  0],
       [ 0,  0]])

In [157]:
data[[1,-2]]

array([[ 5, 14,  3, 10],
       [ 0, 14,  0,  0]])

In [166]:
data[data!=(data%2==0)] = 0 # kisi ne sawal kia tha 
data

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

# Transposing Array & Swapping Array

In [ ]:
Transposing krne se data direction change ho jati h Row column m aur column row m change ho 
jaty han

In [168]:
a = np.arange(15).reshape(5,3)
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [173]:
a.T                # ye T propety k tor pr use hwa h

array([[ 0,  3,  6,  9, 12],
       [ 1,  4,  7, 10, 13],
       [ 2,  5,  8, 11, 14]])

In [174]:
np.transpose(a)         #transpose function k tor pr use hwa h

array([[ 0,  3,  6,  9, 12],
       [ 1,  4,  7, 10, 13],
       [ 2,  5,  8, 11, 14]])

# Universal Functions: Fast Element wise Array Functions

In [175]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [176]:
np.sqrt(arr)    #Square root function

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [177]:
np.exp(arr)   #Calculate the exponential of all elements in the input array.

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [178]:
x = np.random.randn(8)*10
y = np.random.randn(8)*10

In [179]:
x

array([ -0.41904722,   6.2368958 ,   5.38268193, -13.40726778,
        -9.94565916, -12.03795654,   2.24669174,  -3.35626062])

In [180]:
y

array([ 7.59833076, 10.94142152,  0.69315566,  0.47895078, 14.7243242 ,
       19.54943877,  0.06954642, 12.83401808])

In [181]:
np.maximum(x,y)

array([ 7.59833076, 10.94142152,  5.38268193,  0.47895078, 14.7243242 ,
       19.54943877,  2.24669174, 12.83401808])

In [1]:
import numpy as np
arr = np.random.randn(7)*5
arr

array([ 1.77305002, -2.95805674, -5.84369587, -7.6689525 , -2.21595814,
        0.07792214,  0.89724238])

# modf() function

In [3]:
remainder,whole_part = np.modf(arr) # modf function separate whole n decimal parts & return them.

In [4]:
remainder        # remainder se all decimal part show hon gay

array([ 0.77305002, -0.95805674, -0.84369587, -0.6689525 , -0.21595814,
        0.07792214,  0.89724238])

In [5]:
whole_part   # Whole_part se int parts show hon gay

array([ 1., -2., -5., -7., -2.,  0.,  0.])

# list of un ary funcs (ufuncs)
take single array input   book dekho

# list of binary functions 
take two arrays input    book dekho

# Linear Algebra

In [ ]:
Like matrix multiplication, decomposition, determination & other square matrix math is an 
important part of any array library. Unlike some languages like MATLAB, multplying two_ dimesional
arrays with * sign is an element-wise product instead of a matrix  dot product. thus, there is a 
function in the numpy name space, for matrix multiplication.

In [11]:
x = np.array([[1.,2.,3.,],[4.,5.,6.]])
y = np.array([[6.,23.],[-1,7],[8,9]])
z = np.arange(6).reshape(2,3)

In [12]:
x

array([[1., 2., 3.],
       [4., 5., 6.]])

In [13]:
y

array([[ 6., 23.],
       [-1.,  7.],
       [ 8.,  9.]])

In [14]:
z

array([[0, 1, 2],
       [3, 4, 5]])

# Note

In [ ]:
To multiply 2 matrixes (element wise multiplication or mirror multiplication)
Both matrix must have same shape

In [9]:
x * y   # Both arrays shape is not same therefor show error

ValueError: operands could not be broadcast together with shapes (2,3) (3,2)

In [15]:
x * z   # ye matrix multiplication ka method ni h ye mirror multiplication or element wise
              # multiplication h

array([[ 0.,  2.,  6.],
       [12., 20., 30.]])

# matrix multiplication method 
in linear algebra rows of first matrix is muliplied by the columns of second matrix & this is only possible when columns of irst matrix are equal to the rows of second matrix.

In [16]:
a = np.arange(12,0,-1).reshape(3,4)
a

array([[12, 11, 10,  9],
       [ 8,  7,  6,  5],
       [ 4,  3,  2,  1]])

In [17]:
b = np.arange(16,0,-1).reshape(4,4)
b

array([[16, 15, 14, 13],
       [12, 11, 10,  9],
       [ 8,  7,  6,  5],
       [ 4,  3,  2,  1]])

In [18]:
a.shape  # shape or order of matrix (row = 3, column = 4)

(3, 4)

In [20]:
b.shape   # shape or order of matrix (row = 4, column = 4)

(4, 4)

In [ ]:
Rule of the two matrix mutiplied  by linear alg bra (colum of a === row of b)

In [21]:
x.shape    #order of x (row = 2, colun = 3)

(2, 3)

In [22]:
y.shape     # order of y (row = 3 column = 2 )

(3, 2)

In [ ]:
so colum of x == row of b are equals so that x matrix & b matrix are multiplied

In [23]:
np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

In [24]:
np.dot(y,x)

array([[ 98., 127., 156.],
       [ 27.,  33.,  39.],
       [ 44.,  61.,  78.]])

# Note 
it is not neccessary if a,b is possible so b ,a will be.

np.dot(a,b)
a.dot(b)
a@b
All the same function

# numpy.linalg

In [ ]:
numpy.linalg has a standard set of matrix do compositions & things like inverse and determinant.
these are emplemented under the hood via the same industry standard linear algebra library 
used in other language like MATLAB, R, such as LAS, LAPACK, or possible 
(depending on your Numpy bulid the proprietary Intel MKL)
(Math kernel Library)

In [34]:
from numpy.linalg import inv,qr

In [35]:
x = np.array((np.random.randn(5 ,5)*10),dtype = 'int32')
x

array([[ 23,   5,   9, -14, -16],
       [-22,  -1, -11, -12,  13],
       [-13, -12,  -6,  -1,  -1],
       [ -9,   1, -12,  10,   8],
       [ -2,  14,  -9,   1,   6]])

In [36]:
inv(x)

array([[ 0.08256052,  0.04739714, -0.11140428,  0.1747279 , -0.13407033],
       [-0.04949692, -0.042097  ,  0.05128391, -0.128608  ,  0.13924304],
       [-0.07847101, -0.02431692, -0.00395049, -0.1427446 ,  0.03309835],
       [-0.04056488, -0.05117675,  0.02312946, -0.01909208,  0.03202095],
       [ 0.03206729,  0.08607946, -0.16657785,  0.14739308, -0.15861316]])

In [37]:
the expression x.T.dot(x) computes the dot product of x with its transpose.x.T

SyntaxError: invalid syntax (<ipython-input-37-6b260cb73e8c>, line 1)

In [38]:
mat = x.T.dot(x)   
mat

array([[1267,  256,  653, -137, -725],
       [ 256,  367,  -10,  -22,   11],
       [ 653,  -10,  463, -117, -431],
       [-137,  -22, -117,  442,  155],
       [-725,   11, -431,  155,  526]])

In [40]:
d3 = np.arange(64).reshape(4,4,4)
d3

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]],

       [[32, 33, 34, 35],
        [36, 37, 38, 39],
        [40, 41, 42, 43],
        [44, 45, 46, 47]],

       [[48, 49, 50, 51],
        [52, 53, 54, 55],
        [56, 57, 58, 59],
        [60, 61, 62, 63]]])

In [41]:
d3[2,1,2]   # First 2 = depth, 1 = row, 2 = column   fancy indexing

38

In [42]:
d3[2,[0,3]]       # 2 =  matrix depth, 0,3 = row 0 se row 2 tak show ho gi

array([[32, 33, 34, 35],
       [44, 45, 46, 47]])

In [43]:
d3[[2],[0,3]]

array([[32, 33, 34, 35],
       [44, 45, 46, 47]])

In [2]:
import PIL from
print("Pillow Version:", PIL._Version_)

SyntaxError: invalid syntax (<ipython-input-2-de5fcb9acdeb>, line 1)

In [9]:
from PIL import Image

In [10]:
image = Image.Open('Desktop/MyNumpy/sulamanjafar.jpg') 
image

AttributeError: module 'PIL.Image' has no attribute 'Open'

In [19]:
from PIL import Image,ImageFilter

In [20]:
img = Image.Open('sulamanjafar.jpg')
img

AttributeError: module 'PIL.Image' has no attribute 'Open'